//- +feed({color: 'orange', date: 'July 5', title: 'WebGL: Hello World'})
//-   canvas(shader='helloWorld', width='400', height='300')

+feed({color: 'orange', date: 'July 5', title: 'Programming'})
  | Video games were the inspiration for learning how to program and I think that's something shared by many programmers.
  | Excited about making the next Final Fantasy or World of Warcraft, I took one of the #[+hl('"Computer Science 101"')] classes during my undergraduate studies.
  | Oh man was that a let down!
  br
  | The first programming course introduced C++ and I remember calling #[+codeHL('std::cout')] #[+hl('"kout"')] and #[+codeHL('std::cin')] #[+hl('"kin"')].
  | Luckily I met Alex Wilson in the CS lab who helped me learn the C++ basics.
  | I remember he introduced me to std::stringstream which would take any type and make it into a string (amazing stuff!).
  br
  | Skipping a year, I take #[+hl('"Object Oriented Programming in Java"')] with Dr. Robert Schweller which turned out to be the best class I ever took.
  | The course assignments were all mini-games
