+feed({color: 'orange', date: 'July 5', title: 'WebGL: Hello World'})
  canvas(shader='helloWorld', width='400', height='300')
  h5.ui.dividing.header Starting Programming
  | Video games, like a lot of people, were the inspiration for learning how to program.
  | Excited about making the next Final Fantasy or World of Warcraft, I began taking some computer science courses during my undergraduate studies.