//- +feed({color: 'orange', date: 'July 5', title: 'WebGL: Hello World'})
//-   canvas(shader='helloWorld', width='400', height='300')

include posts/0x002/miniPost
include posts/0x001/miniPost

#id_endOfBlog