+feed({color: 'green', date: 'August 3', title: 'Working at Two Sigma'})
  | Started working at the Houston branch

+feed({color: 'green', date: 'June 1 - July 11', title: 'Visiting Researcher at LLNL'})
  | Continue working on OCCA (thesis work) and collaborate with LLNL guys in ASQ/CASC.

+feed({color: 'gray', date: 'May 26', title: 'PhD Defense'})
  | OKL: A Unified Language for Parallel Architectures (<a href='/pdf/papers/phd.pdf' class='link'>PDF</a>)

+feed({color: 'purple', date: 'May 7', title: 'Visit to Sandia National Lab: Seminar Talk'})
  | OKL: A Unified Language for Parallel Architectures

+feed({color: 'purple', date: 'March 14-15', title: 'SIAM CSE \'15: Talk + Poster'})
  | OCCA: An Extensible Portability Layer for Many-core Programming (<a href='/pdf/talks/cse15.pdf' class='link'>PDF</a>)

+feed({color: 'purple', date: 'March 04-05', title: 'Rice Oil & Gas 2015: OCCA Tutorial + Talk'})
  | OCCA: Portability Layer for Many-core Thread Programming
  br
  | Links to the: <a href='http://libocca.org/talks/riceOG15.pdf' class='link'>Slides</a>, <a href='https://github.com/tcew/OG15' class='link'>Source Code</a>

+feed({color: 'blue', date: 'March 03', title: 'OCCA Tutorials 02: Unified Virtual Address + Managed Memory + Shared Memory'})
  +youtube('https://www.youtube.com/embed/9uiw3hzGCl4')

+feed({color: 'blue', date: 'February 28', title: 'OCCA Tutorials 01: Installation + Introduction'})
  +youtube('https://www.youtube.com/embed/XYf73mqQBLE')

+feed({color: 'purple', date: 'February 11', title: 'Visit to Chevron: Talk'})
  | OKL: A Unified Language for Parallel Architectures

+feed({color: 'gray', date: 'February 04', title: 'PhD Proposal'})
  | OKL: A Unified Language for Parallel Architectures

.ui.horizontal.divider.feedDivider 2015

+feed({color: 'purple', date: 'June 24', title: 'ICOSAHOM \'14: Talk'})
  | OCCA: A Unified Approach to Multi-Threading Languages

+feed({color: 'green', date: 'May - August', title: 'Summer Internship at Shell'})
  .ui.list(style='margin-bottom: 5px')
    .item
      .blue.bullet
      | Optimized finite difference codes on multiple architectures (OpenMP, OpenCL, CUDA)

    .item
      .blue.bullet
      | Investigated hybrid kernels with portable performance across varying architectures

+feed({color: 'gray', date: 'April 23', title: 'Master Thesis Defense'})
  | OCCA: A Unified Approach to Multi-Threading Languages (<a href='/pdf/papers/masters.pdf' class='link'>PDF</a>)

+feed({color: 'purple', date: 'March 06', title: 'Rice Oil & Gas Workshop \'14: Poster'})
  | OCCA: A Unified Approach to Multi-Threading Languages

.ui.horizontal.divider.feedDivider 2014

+feed({color: 'green', date: 'May - August', title: 'Summer Internship at Shell'})
  | Worked on numerical methods in parallel architectures (OpenMP, OpenCL, CUDA)

+feed({color: 'gray', date: 'January', title: 'PASI: Workshop on Tsunami Modeling (NSF/DOE-Funded Travel Grant)'})
  .ui.list(style='margin-bottom: 5px')
    .item
      .blue.bullet
      | Attended multiple workshops and talks about tsunami modeling

    .item
      .blue.bullet
      | Lab co-coordinator to teach OpenCL/OpenGL interop for applying and visualizing finite difference simulations

.ui.horizontal.divider.feedDivider 2013