include tools

block global
  - var title = 'David S Medina';
  - var placingTabBody = false;

mixin tab(name)
  div.ui.tab(data-tab="#{name}")
    div.tabBodyContainer2
      div.tabBodyContainer
        block

doctype html
html
  head
    title #{title}

    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

    link(rel="shortcut icon", href="/images/websiteIcon.ico")

    link(rel="stylesheet", type="text/css", href="/library/semantic/semantic.min.css")
    link(rel="stylesheet", type="text/css", href="/library/highlight/styles/tomorrow.css")

    link(type="text/css", rel="stylesheet", href="/main.css")

    script.
      (function () {
      var
      eventSupport = ('querySelector' in document && 'addEventListener' in window)
      jsonSupport  = (typeof JSON !== 'undefined'),
      jQuery       = (eventSupport && jsonSupport)
      ? '/library/js//jquery.min.js'
      : '/library/js//jquery.legacy.min.js'
      ;
      document.write('<script src="' + jQuery + '"><\/script>');
          }());

    script(type="text/javascript", src="/library/js/jquery.min.js")
    script(type="text/javascript", src="/library/js/jquery.history.min.js")
    script(type="text/javascript", src="/library/semantic/semantic.min.js")
    script(type="text/javascript", src="/library/highlight/highlight.pack.js")

    script.
      hljs.initHighlightingOnLoad();

    script(type="text/javascript", src="/js/tools.js")
    script(type="text/javascript", src="/js/gl.js")
    script(type="text/javascript", src="/js/main.js")

  body
    #id_bodyWrapper
      #id_bodyWrapper2

        div.fixed.body#id_body
          h2.ui.dividing.header
            img.ui.rounded.image.avatar(src="/images/profile/david.jpg")
            | David Medina

            div.contact.info
              +socialIcons

          div.sidebar
            img.ui.rounded.image(src="/images/profile/david.jpg", style="width: 200px; border-radius: 20px; margin: auto")

            h4.ui.dividing.header(style="margin-bottom: 10px") About me
            | I'm really passionate about #[+hlG('coding')] and like to get out of my comfort zone for learning and producing neat stuff
            br
            br
            | I've been lucky to work with an awesome advisor, <a href="http://tcew.github.io/" class="link">Professor Warburton</a>, and folks from national labs (LLNL, ANL)

            h4.ui.dividing.header(style="margin-bottom: 10px") Projects

            | I'm currently focusing on <a href="http://libocca.org" class="link">OCCA</a>

            h4.ui.dividing.header(style="margin-bottom: 10px") Contact Info

            | If anything I do is interesting to you, it would make my day to chat about it!

            div(style="width: 200px; margin: auto; padding: 20px 0 20px 0; text-align: center")
              +socialIcons

          div.container#id_bodyContainer
            div#id_bodyHeader
              div.ui.tabular.menu(class=(placingTabBody ? '' : 'main'))
                a.item.active(data-tab="blog"    ) Blog
                a.item(       data-tab="events"  ) Events
                a.item(       data-tab="upcoming") Upcoming
                a.item(       data-tab="projects") Projects

            div#id_bodyTopShadow
            div#id_bodyTLShadowCorner

            if placingTabBody
              +tab('blog')
                +tabBody()
              +tab('events')
                +tabBody()
              +tab('upcoming')
                +tabBody()
              +tab('projects')
                +tabBody()
            else
              +tab('blog')
                include blog
              +tab('events')
                include events
              +tab('upcoming')
                include upcoming
              +tab('projects')
                include projects

            div#id_bodyBLShadowCorner
            div#id_bodyBottomShadow

    #id_footerWrapper
      #id_footer
        #id_footerName
          a.link(href="/") David S Medina
        #id_footerInfo
          | &nbsp&nbsp|&nbsp #[+hlG('Ping me')]
          +socialIcons