@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  user-select: none;
}
