code, pre {
    font-family: 'Ubuntu Mono', monospace;
}

pre {
    background-color: #4f4c4c;
    line-height: 1.5em;
    overflow: auto;
    position: relative;
    word-wrap: normal;
    margin: 0;
    margin-top: 1em;
    border-radius: 4px;
}

pre:after {
    content: attr(data-lang);
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: #fafafa;
    font-size: 0.85em !important;
    font-weight: 300;
    text-transform: uppercase;
}

code {
    background-color: transparent;
    color: #fafafa;
    display: block;
    font-size: 0.9em;
    line-height: inherit;
    padding: 1.3em;
    max-width: inherit;
    overflow: inherit;
    white-space: inherit;
}

code .token.string,
code .token.function {
    color: #70c1e0;
}

code .token.keyword {
    color: #ffcd5a;
}

code .token.string {
    color: #9ce8a2;
}

code .token.number {
    color: #d48282;
}


/*---[ Print ]------------------------*/
@media print {
    pre, blockquote {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    /* Dark -> Light Mode */
    pre {
        background-color: white;
        border: 1px solid #cbd2da;
    }

    pre:after {
        color: #525252;
    }

    code {
        background-color: transparent;
        color: #525252;
    }

    code .token.string,
    code .token.function {
        color: #2991b9;
    }

    code .token.keyword {
        color: #f9a753;
    }

    code .token.string {
        color: #29b934;
    }

    code .token.number {
        color: #ce5b5b;
    }
}
/*====================================*/
